#header-top {
  height: 400px;
  width: 100%;

}

.aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  zoom: 0.8;
  background-color: #f0771a;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.aligner-item {
  max-width: 50%;
}

.aligner-item-top {
  height: 150px;
}

.aligner-item-middle {
  align-self: center;
  height: 150px;
}

.profile-pic {
  height: 200px;
}

/* Desktop */

@media only screen and (min-width: 1024px) {
  #header-top {
   width: 80%;
   margin-top: 120px;
 }
 .aligner {
   margin: 20%;
   zoom: 0.6;
}
}