header {
  height: 400px;
  width: 100%;
  background-color: #f0771a;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item-top {
  height: 120px;
}

.aligner-item-middle {
  align-self: center;
  height: 150px;
}

.profile-pic {
  height: 200px;
}

