nav {
  position: fixed;
  top: 0%;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
}

span {
  font-family: 'Bungee', sans-serif;
}

body {
  position: relative;
}

header {
  z-index: 1;
}