.new-tweet {
  display: flex;
  flex-direction: column;
  width:max-content;
}

#tweet-text {
  background-color: #f4f1ec;
  border: none;
  resize: none;
  height: 35px;
}

.tweet-upper {
  border-bottom: 3px solid rgb(66, 65, 65);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.tweet-lower {
  display: flex;
  justify-content: space-between;
}

#button {
  background-color: blue;
  color: white;
  font-family: 'Bungee', sans-serif;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.counter-negative {
  font-family: 'Bungee', sans-serif;
  color: red;
}

.error,
.validation {
	border: 1px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	max-width: 460px;
  display: none;
  color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
  display: none;
}