article.tweets header {
  display: flex;
  justify-content: space-between;
}

#tweet-header-right {
  display: flex;
  align-items: center;
}

h3.tweet-name {
  padding-left: 5%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

h3.tweet-handle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
}

article.tweets {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin: 5%;
  padding: 3%;
  padding-top: 0%;
  padding-bottom: 0%;
}

article.tweets p {
  word-wrap: break-word;
}

article.tweets footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid black;
}

#tweet-icons {
  color: blue;
}

article.tweets:hover {
  border: 3px solid black;
  box-shadow: 5px 10px #888888;
}

.fa-solid:hover {
  color: orange;
}

#tweets-container {
  width: 100%;
}

#scroll-to-top:hover {
  background-color: black;
}

.scroll {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#scroll-to-top {
  border-radius: 50%;
  color: red;
  margin-bottom: 5px;
}